/.bundle
/claude/commands
/config/ai_agents/current_tmux_ai_agent.txt
/config/ai_agents/current_tmux_ai_agent_session.txt
/config/karabiner/automatic_backups
/docs/code_implementation_guide
/my.local.cnf
/tmux/config.local.tmux
/tmux/plugins/
/vim/config.local.vim
/vim/plugged/
/zsh.d/antigen/
/zsh.d/config.local.zsh
/zsh.d/env.local.zsh
/zsh.d/local/
