/docs/code_implementation_guide
/zsh.d/antigen/
/zsh.d/config.local.zsh
/zsh.d/env.local.zsh
/zsh.d/local/
/vim/plugged/
/vim/config.local.vim
/tmux/plugins/
/my.local.cnf
/config/karabiner/automatic_backups
/dlv/.dbg_history
/.bundle
