[submodule "zsh.d/plugin/zsh-completions"]
	path = zsh.d/plugin/zsh-completions
	url = git://github.com/zsh-users/zsh-completions
[submodule "zsh.d/plugin/zsh-history-substring-search"]
	path = zsh.d/plugin/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
