[submodule "modules/git"]
	path = modules/git
	url = git://github.com/gitster/git
[submodule "modules/zsh"]
	path = modules/zsh
	url = git://github.com/zsh-users/zsh
[submodule "modules/vim"]
	path = modules/vim
	url = git://github.com/vim-jp/vim
[submodule "modules/tmux-code"]
	path = modules/tmux-code
	url = git://git.code.sf.net/p/tmux/tmux-code
[submodule "modules/luajit-2.0"]
	path = modules/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "modules/the_silver_searcher"]
	path = modules/the_silver_searcher
	url = git://github.com/ggreer/the_silver_searcher
[submodule "modules/peco"]
	path = modules/peco
	url = git://github.com/peco/peco
[submodule "modules/ctags"]
	path = modules/ctags
	url = git://github.com/fishman/ctags
[submodule "modules/tig"]
	path = modules/tig
	url = git://github.com/jonas/tig
[submodule "modules/tmux-mem-cpu-load"]
	path = modules/tmux-mem-cpu-load
	url = git://github.com/thewtex/tmux-mem-cpu-load
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "zsh.d/plugin/zsh-completions"]
	path = zsh.d/plugin/zsh-completions
	url = git://github.com/zsh-users/zsh-completions
[submodule "zsh.d/plugin/zsh-history-substring-search"]
	path = zsh.d/plugin/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh.d/plugin/golang-misc-zsh"]
	path = zsh.d/plugin/golang-misc-zsh
	url = git@github.com:ToruIwashita/golang-misc-zsh.git
[submodule "modules/node"]
	path = modules/node
	url = git@github.com:joyent/node.git
