[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "modules/tmux"]
	path = modules/tmux
	url = https://github.com/tmux/tmux.git
[submodule "modules/ctags"]
	path = modules/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "modules/vim"]
	path = modules/vim
	url = https://github.com/vim/vim.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/git/git.git
[submodule "modules/jq"]
	path = modules/jq
	url = https://github.com/stedolan/jq.git
[submodule "modules/zsh"]
	path = modules/zsh
	url = https://github.com/zsh-users/zsh.git
[submodule "modules/the_silver_searcher"]
	path = modules/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
[submodule "modules/github-markdown-css"]
	path = modules/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
[submodule "modules/asdf"]
	path = modules/asdf
	url = https://github.com/asdf-vm/asdf.git
	ignore = dirty
[submodule "modules/gh-cli"]
	path = modules/gh-cli
	url = https://github.com/cli/cli.git
